<app-header></app-header>
<div class="content">
  <div class="row">
    <div class="backgronund col-12">
      <img class="backg" src="../../../assets/background.jpg" alt="background">
    </div>
    <div class="card-box col-12">
      <h1 class="designs col-12">Personal Web designs.</h1>
      <div class="row justify-content-center align-items-center">
        <div class="controllers d-flex col-2 justify-content-end">
          <button class="lControl controlers" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"></button>
        </div>

        <div class="cards-content d-flex col-8 justify-content-center align-items-center">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <!--Primer slide-->
              <div class="carousel-item active" data-interval="3000">
                <div class="cards-content d-flex row">
                  <div class="firts-card cards col-3 hoverone" (click)="openpicSe()">
                    <img class="card-img" src="../../../assets/portafolio2.png" alt="">
                    <h3 class="card-title">Labor</h3>
                    <p class="card-text">Design for my current role, check out my Figma for more.</p>
                  </div>
                  <div class="second-card cards col-3 hoverConb" (click)="openpicFi()">
                    <img class="card-img" src="../../../assets/.png" alt="">
                    <h3 class="card-title">Owner</h3>
                    <p class="card-text">Design for my current role, check out my Figma for more.</p>
                  </div>
                  <div class="third-card cards col-3 hovertwo" (click)="openpicSi()">
                    <img class="card-img" src="../../../assets/.png" alt="">
                    <h3 class="card-title">Owner</h3>
                    <p class="card-text">Design for my current role, check out my Figma for more.</p>
                  </div>
                </div>
              </div>
              <!--Segundo slide-->
              <div class="carousel-item" data-interval="3000">
                <div class="cards-content d-flex row">
                  <div class="firts-card cards col-3 hoverone" (click)="openpicFr()">
                    <img class="card-img" src="../../../assets/trabajo.png" alt="">
                    <h3 class="card-title">Labor</h3>
                    <p class="card-text">Design for my current role, check out my Figma for more.</p>
                  </div>
                  <div class="second-card cards col-3 hoverConb" (click)="openpicFi()">
                    <img class="card-img" src="../../../assets/portafolio.png" alt="">
                    <h3 class="card-title">Owner</h3>
                    <p class="card-text">Design for my current role, check out my Figma for more.</p>
                  </div>
                  <div class="third-card cards col-3 hovertwo" (click)="openpicSi()">
                    <img class="card-img" src="../../../assets/actividad.png" alt="">
                    <h3 class="card-title">Owner</h3>
                    <p class="card-text">Design for my current role, check out my Figma for more.</p>
                  </div>
                </div>
              </div>
              <!--Tercero slide-->
              <div class="carousel-item" data-interval="3000">
                <div class="cards-content d-flex row">
                  <div class="firts-card cards col-3 hoverone" (click)="openpic()">
                    <img class="card-img" src="../../../assets/ecommerce.png " alt="">
                    <h3 class="card-title">Owner</h3>
                    <p class="card-text">Design for my current role, check out my Figma for more.</p>
                  </div>
                  <div class="second-card cards col-3 hoverConb" (click)="openpicT()">
                    <img class="card-img" src="../../../assets/cajahistorias.png" alt="">
                    <h3 class="card-title">Owner</h3>
                    <p class="card-text">Design for my current role, check out my Figma for more.</p>
                  </div>
                  <div class="third-card cards col-3 hovertwo" (click)="openpicTr()">
                    <img class="card-img" src="../../../assets/montechelo.png" alt="">
                    <h3 class="card-title">Labor</h3>
                    <p class="card-text">Design for my current role, check out my Figma for more.</p>
                  </div>
                </div>
              </div>
              <!--Fin de slide-->
            </div>
          </div>
        </div>
        <div class="controllers d-flex col-2 justify-content-start">
          <button class="rControl controlers" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"></button>
        </div>
        <!--Fin de carousel-->
      </div>
  </div>
</div>
<app-footer></app-footer>
