<app-header></app-header>
<div class="content index">
  <div class="row">
    <div class="backgronund col-12">
      <img class="backg" src="../../../assets/background.jpg" alt="background">
    </div>
    <!-- monitores -->
    <div class="card-box col-12 d-none d-lg-block d-sm-none d-md-none">
      <h1 class="designs col-12">Personal Web designs.</h1>
      <div class="row  align-items-center">
        <div class="controllers d-flex col-2 justify-content-end">
          <button class="lControl controlers" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"></button>
        </div>
        <div class="cards-content col-8">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <!--Primer slide-->
              <div class="carousel-item active" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="firts-card cards col-3 hoverone" (click)="openpicTe()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/cakes.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Landing page for a bakery.</p>
                  </div>
                  <div class="second-card cards col-3 hoverConb" (click)="openpicEl()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/Highschool.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Gamer-style high school, aiming to associate the kids with their interests.</p>
                  </div>
                  <div class="third-card cards col-3 hovertwo" (click)="openpicTz()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/jabon.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Landing page for a handmade soap store.</p>
                  </div>
                </div>
              </div>
              <!--Segundo slide-->
              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="firts-card cards col-3 hoverone" (click)="openpicSe()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/portafolio2.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Personal portfolio designed in Angular to better manage popups.</p>
                  </div>
                  <div class="second-card cards col-3 hoverConb" (click)="openpicEi()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/fruits.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Landing page for a menu of an ice cream shop with a variety of desserts.</p>
                  </div>
                  <div class="third-card cards col-3 hovertwo" (click)="openpicNi()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/shampooweb.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Landing page for a handmade shampoo retail store.</p>
                  </div>
                </div>
              </div>
              <!--Tercer slide-->
              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="firts-card cards col-3 hoverone" (click)="openpicFr()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/trabajo.png" alt="">
                    <h3 class="card-title">Work-related</h3>
                    <p class="card-text">Dashboard created in Angular, all design and programming done by me.</p>
                  </div>
                  <div class="second-card cards col-3 hoverConb" (click)="openpicFi()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/portafolio.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text"> Personal design of my first portfolio when I was still new.</p>
                  </div>
                  <div class="third-card cards col-3 hovertwo" (click)="openpicSi()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/actividad.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Design for an online store, random objective.</p>
                  </div>
                </div>
              </div>
              <!--Cuarto slide-->
              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="firts-card cards col-3 hoverone" (click)="openpic()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/ecommerce.png " alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Design for an online store, random objective.</p>
                  </div>
                  <div class="second-card cards col-3 hoverConb" (click)="openpicT()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/cajahistorias.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Design for a children's storybook store, with a book carousel.</p>
                  </div>
                  <div class="third-card cards col-3 hovertwo" (click)="openpicTr()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/montechelo.png" alt="">
                    <h3 class="card-title">Work-related</h3>
                    <p class="card-text">Landing page for the company I was working at, own design.</p>
                  </div>
                </div>
              </div>
              <!--Fin de slide-->
            </div>
          </div>
        </div>
        <div class="controllers d-flex col-2 justify-content-start">
          <button class="rControl controlers" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"></button>
        </div>
        <!--Fin de carousel-->
      </div>
    </div>

    <!-- mobile -->
    <div class="card-box col-12 .d-none .d-sm-block .d-md-none">
      <h1 class="designs col-12">Personal Web designs.</h1>
      <div class="row  align-items-center">
        <div class="controllers d-flex col-2 justify-content-end">
          <button class="lControl controlers" data-bs-target="#carouselEIs" data-bs-slide="prev"></button>
        </div>
        <div class="cards-content col-8">
          <div id="carouselEIs" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <!--Primer slide-->
              <div class="carousel-item active" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="firts-card cards col-12 hoverone" (click)="openpicTe()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/cakes.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Landing page for a bakery.</p>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="second-card cards col-12 hoverConb" (click)="openpicEl()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/Highschool.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Gamer-style high school, aiming to associate the kids with their interests.</p>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="third-card cards col-12 hovertwo" (click)="openpicTz()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/jabon.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Landing page for a handmade soap store.</p>
                  </div>
                </div>
              </div>

              <!--Segundo slide-->
              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="firts-card cards col-3 hoverone" (click)="openpicSe()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/portafolio2.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Personal portfolio designed in Angular to better manage popups.</p>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="second-card cards col-3 hoverConb" (click)="openpicEi()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/fruits.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Landing page for a menu of an ice cream shop with a variety of desserts.</p>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="third-card cards col-3 hovertwo" (click)="openpicNi()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/shampooweb.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Landing page for a handmade shampoo retail store.</p>
                  </div>
                </div>
              </div>

              <!--Tercer slide-->
              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="firts-card cards col-3 hoverone" (click)="openpicFr()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/trabajo.png" alt="">
                    <h3 class="card-title">Work-related</h3>
                    <p class="card-text">Dashboard created in Angular, all design and programming done by me.</p>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="second-card cards col-3 hoverConb" (click)="openpicFi()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/portafolio.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text"> Personal design of my first portfolio when I was still new.</p>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="third-card cards col-3 hovertwo" (click)="openpicSi()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/actividad.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Design for an online store, random objective.</p>
                  </div>
                </div>
              </div>

              <!--Cuarto slide-->
              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="firts-card cards col-3 hoverone" (click)="openpic()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/ecommerce.png " alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Design for an online store, random objective.</p>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="second-card cards col-3 hoverConb" (click)="openpicT()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/cajahistorias.png" alt="">
                    <h3 class="card-title">Own</h3>
                    <p class="card-text">Design for a children's storybook store, with a book carousel.</p>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-interval="3000">
                <div class="cards-content row justify-content-center">
                  <div class="third-card cards col-3 hovertwo" (click)="openpicTr()" matTooltip="Click me">
                    <img class="card-img" src="../../../assets/montechelo.png" alt="">
                    <h3 class="card-title">Work-related</h3>
                    <p class="card-text">Landing page for the company I was working at, own design.</p>
                  </div>
                </div>
              </div>
              <!--Fin de slide-->
            </div>
          </div>
        </div>
        <div class="controllers d-flex col-2 justify-content-start">
          <button class="rControl controlers" data-bs-target="#carouselEIs" data-bs-slide="next"></button>
        </div>
        <!--Fin de carousel-->
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
