.backgronund{
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.backg{
  margin: 0 auto;
}
.designs{
  font-family: 'Comfortaa', cursive;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}
.cards-content{
  height: 340px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cards{
  margin: 10px 30px 0px 30px;
  width: 300px;
  height: 320px;
  border-radius: 31px;
  background: #222222;
  box-shadow:  8px 8px 9px #131313,
             -8px -8px 9px #313131;
}
.card-img{
  margin-top: 10px;
  height: 220px;
}
.controlers{
  width: 100px;
  height: 100px;
  border: transparent;
  border-radius: 178px;
  background: linear-gradient(45deg, #242424, #1f1f1f);
  box-shadow:  11px -11px 22px #171717,
              -11px 11px 22px #2d2d2d;
}
.lControl{
  margin-right: 60px;
    background-image: url('../../../assets/lefticon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.rControl{
  background-image: url('../../../assets/righticon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.lControl:hover{
  box-shadow:  11px -11px 22px #3b1a3b,
              -11px 11px 22px #650b65;
}
.rControl:hover{
  box-shadow:  11px -11px 22px #36575686,
              -11px 11px 22px #468a8e85;
}
.card-title{
  font-family: 'Comfortaa', cursive;
  color: #fff;
  text-align: center;
}
.card-text{
  margin-top: -10px;
  font-family: 'Comfortaa', cursive;
  color: #fff;
  text-align: center;
}
.hoverone:hover{
  box-shadow:  8px 8px 9px #3b1a3ba2,
             -8px -8px 9px #650b656f;
}
.hoverConb:hover{
  box-shadow:  8px 8px 9px #468a8e6e,
             -8px -8px 9px #650b656f;
}
.hovertwo:hover{
  box-shadow:  8px 8px 9px #36575874,
             -8px -8px 9px #468a8e64;
}
