.header{
  padding: 10px;
  width: 100%;
  height: 40px;
}
.logo,
.ktlogo{
  margin-right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.brand{
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 27px;
  max-width: 160px;
  color: #CB6CE6;
  cursor: pointer;
}
.other{
  font-family: 'Comfortaa', cursive;
  width: 160px;
  color: aliceblue;
  font-size: 13px;
  margin-left: 30px;
  cursor: pointer;
}
.buttons{
  margin-top: 10px;
}
.btn {
  max-width: 200px;
  border: transparent;
  font-weight: 600;
  font-family: 'Comfortaa', cursive;
  padding: 4px 6px;
  color: #fff;
  margin-left: 20px;
  background: transparent;
}
.btn::after {
  max-width: 100%;
  height: 2px;
  display: block;
  content: "";
  background-image: linear-gradient(-45deg, #45dc93, #b06ab3);
  opacity: 1;
  margin-bottom: -6px;
  margin-top: 1px;
}
.btn:hover{
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #45dc93, #b06ab3);
}
.img{
  background-image: url('../../../assets/burg.png');
  background-size:40%;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.img:hover{
  background-image: url('../../../assets/burgp.png');
  background-size:40%;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 575px){
  .brand{
    font-size: 20px;
    width: 10px;
  }
  .img{
    margin-left: 140px;
    width: 30px;
    height: 30px;
  }
  .btn {
    color: #000000;
  }
}
