<app-header></app-header>
<div class="row">
  <div class="col-2">
    <p></p>
  </div>
  <div class="acknow col-8">
    <h2 class="name">Karen Paola Torres Archbold</h2>
    <h3 class="title-case">Senior Software Engineer, Frontend Specialist & Web Designer.</h3>
      <div class="image">
        <img class="imge" src="../../../assets/KarenTarchb.jpg" alt="">
      </div>
    <br>
    <p class="paragraph">I am immensely grateful for the constellation of individuals and entities that have illuminated my professional and personal journey, allowing me to explore and honor the creative essence at the heart of each project I undertake.</p>
    <br>
    <p class="paragraph">First and foremost, I extend my heartfelt gratitude to <strong class="neg">Novatec</strong> and <strong class="neg">Banco Santander</strong> for providing me with a nourishing stage where my skills have found application and evolution. Collaboration and mutual learning have been the cornerstone of every challenge overcome and every success celebrated.</p>
    <br>
    <p class="paragraph">My gratitude runs deep towards <strong class="neg">Canva</strong> and its circle of creative designers, whose artistic abilities have been an inexhaustible source of inspiration, enabling me to breathe life into my ideas through expressive sketches. The opportunity to apply to Canva as a template designer is a reflection of the admiration and respect I have for the innovation and creativity fostered by this platform.</p>
    <br>
    <p class="paragraph"><strong class="neg">Pinterest</strong> has been my silent companion in the discovery of color palettes that accentuate the essence of my designs, catalyzing a deepening in creativity that takes each project a step beyond the ordinary.</p>
    <br>
    <p class="paragraph">I sincerely thank my colleagues at work and university, whose camaraderie and support have been pillars in my personal and professional growth. The shared journey has been both educational and enriching.</p>
    <br>
    <p class="paragraph">At the core of my determination and passion are my family: my husband, my daughter, and the little being who will soon join us. They are my engine, my strength, the eyes that see beyond and the hands that hold my dreams. To my parents, thank you for the gift of life and the unconditional love that has cemented my path.</p>
    <br>
    <p class="paragraph">This portfolio is a tribute to all the connections that have woven the tapestry of my experience, and an invitation to explore future collaborations filled with innovation, creativity, and mutual success. With a gaze set on the horizon of opportunities ahead, I am excited for what the future holds for us.</p>
  </div>
  <div class="col-2"></div>
</div>
<app-footer></app-footer>
