<app-header></app-header>
<div class="about">
  <div class="content">
    <div class="row d-flex">

      <div class="col-3 d-none d-lg-block d-sm-none d-md-none">
        <div class="about-me">
          <div class="img">
            <img class="logomy" src="../../../assets/portada.png" alt="">
          </div>
          <h3 class="title">About me.</h3>
          <p class="paragraph">I'm a dedicated Senior Software Engineer with a strong focus on Frontend Development, bringing creative and strategic solutions to the digital landscape. With extensive experience in UX/UI design and a variety of web technologies, I specialize in crafting visually appealing and user-friendly web pages and applications.</p>
          <br>
          <h3 class="title">Idioms</h3>
          <div class="row d-flex">
            <p class="paragraph col-3">Español:</p>
            <div class="col-8">
              <mat-progress-bar mode="determinate" value="100"></mat-progress-bar><p>100%</p>
            </div>
            <p class="paragraph col-3">Ingles:</p>
            <div class="col-8"><mat-progress-bar mode="determinate" value="70"></mat-progress-bar><p>70%</p></div>
          </div>
        </div>
      </div>

      <div class="col-12 .d-none .d-sm-block .d-md-none">
        <div class="about-me">
          <div class="img">
            <img class="logomy" src="../../../assets/portada.png" alt="">
          </div>
          <div class="otherM">
            <h3 class="title">About me.</h3>
            <p class="paragraph">I'm a dedicated Senior Software Engineer with a strong focus on Frontend Development, bringing creative and strategic solutions to the digital landscape. With extensive experience in UX/UI design and a variety of web technologies, I specialize in crafting visually appealing and user-friendly web pages and applications.</p>
          </div>
        </div>
      </div>
      <div class="col-8 more d-none d-lg-block d-sm-none d-md-none">
        <h2 class="name">Karen Paola Torres Archbold</h2>
        <h3 class="title-case">Senior Software Engineer, Frontend Specialist & Web Designer, with four years of certified experience in my field.</h3>
        <div class="redes">
          <a href="https://github.com/karentarchb" target="_blank" rel="noopener noreferrer"><div class="red red-git"></div></a>
          <a href="https://www.linkedin.com/in/karen-t-archbold/" target="_blank" rel="noopener noreferrer"><div class="red red-in"></div></a>
        </div>
        <br>
        <br>
        <div class="row d-flex">
          <div class="col-6">
            <h3 class="title">Skills</h3>
            <div class="cont-img">
              <img class="skills" src="../../../assets/habilidades.png" alt="">
            </div>
          </div>
          <div class="col-6">
            <h3 class="title">Professional Experience</h3>
            <ul>
              <li><p class="text">Specialized in creating dynamic and responsive websites and web applications using frameworks such as Angular and React, and languages like JavaScript and TypeScript.</p></li>
              <li><p class="text">Experienced in HTML, CSS, Sass, Scss, and integrating various databases and REST APIs.</p></li>
              <li><p class="text">
                Proficient with various technologies and tools such as Bootstrap, Foundation, Docker, Redis, MariaDB, MySQL, Postgress, and Node.js.</p></li>
            </ul>
            <br>
            <br>
            <h3 class="title">Collaborations and Projects</h3>
            <ul>
              <li><p class="text">Collaborated as a Senior Frontend Developer with renowned organizations like Laika (Chile, Mexico, Colombia), and the National Registry of Colombia.</p></li>
              <li><p class="text">Currently collaborating with Banco Santander, creating various software solutions for the internal management of their collaborating users, and also contributed to projects for other banks like BanColombia.</p></li>
            </ul>
          </div>
          <div class="col-6 educ">
            <h3 class="title">Education</h3>
            <ul>
              <li><p class="text">Software Engineer - 2023.</p></li>
              <li><p class="text">Development Technologist - 2021.</p></li>
              <li><p class="text">Self-taught - 2021</p></li>
            </ul>
          </div>
          <div class="col-6">
            <h3 class="title">Objectives</h3>
            <ul>
              <li><p class="text">Achieve excellence in my area of specialization, maintaining a constant commitment to professional and personal growth. This, in turn, propels me to reach and surpass the objectives set annually, allowing me to contribute significantly to my field and the organization with which I collaborate.</p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 moreM .d-none .d-sm-block .d-md-none">
        <h2 class="name">Karen Paola Torres Archbold</h2>
        <div class="redes">
          <a href="https://github.com/karentarchb" target="_blank" rel="noopener noreferrer"><div class="red red-git"></div></a>
          <a href="https://www.linkedin.com/in/karen-t-archbold/" target="_blank" rel="noopener noreferrer"><div class="red red-in"></div></a>
        </div>
        <br>
        <br>
        <div class="row d-flex">
          <div class="skill col-12">
            <h3 class="title">Skills</h3>
            <div class="cont-img">
              <img class="skills" src="../../../assets/habilidades.png" alt="">
            </div>
          </div>
          <div class="col-12 exp">
            <h3 class="title">Professional Experience</h3>
            <ul>
              <li><p class="text">Specialized in creating dynamic and responsive websites and web applications using frameworks.</p></li>
              <li><p class="text">Experienced in HTML, CSS, Sass, Scss, and integrating various databases and REST APIs.</p></li>
              <li><p class="text">Proficient with various technologies and tools such as Bootstrap, Foundation, Docker, Redis, MariaDB, MySQL, Postgress, and Node.js.</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
